-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "categorias" (
    "id" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "estado" SMALLINT NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial611" CHAR(1),

    CONSTRAINT "pk_categorias" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sub_categorias" (
    "id" BIGSERIAL NOT NULL,
    "id_categorias" BIGINT NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "estado" SMALLINT NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial611" CHAR(1),

    CONSTRAINT "pk_sub_categorias" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "marcas" (
    "id_marca" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "estado" SMALLINT NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial611" CHAR(1),

    CONSTRAINT "pk_marcas" PRIMARY KEY ("id_marca")
);

-- CreateTable
CREATE TABLE "color" (
    "id" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "hexadecimal" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estado" SMALLINT NOT NULL DEFAULT 1,
    "trial611" CHAR(1),

    CONSTRAINT "pk_color" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "talla" (
    "id" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "isactivo" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial611" CHAR(1),

    CONSTRAINT "pk_talla" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tipo_documento" (
    "id" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "isactivo" SMALLINT NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial615" CHAR(1),

    CONSTRAINT "pk_tipo_documento" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tipo_movimiento" (
    "id" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "isactivo" SMALLINT NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial618" CHAR(1),

    CONSTRAINT "pk_tipo_movimiento" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "producto" (
    "id" BIGSERIAL NOT NULL,
    "id_sub_categorias" BIGINT NOT NULL,
    "id_marca" BIGINT,
    "nombre" VARCHAR(255) NOT NULL,
    "precio_compra" DECIMAL(10,2) NOT NULL,
    "precio_venta" DECIMAL(10,2) NOT NULL,
    "stock_total" INTEGER NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "imagen" VARCHAR(255),
    "trial611" CHAR(1),
    "estado" BOOLEAN DEFAULT true,

    CONSTRAINT "pk_producto" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "variante" (
    "id" BIGSERIAL NOT NULL,
    "id_color" BIGINT NOT NULL,
    "id_talla" BIGINT NOT NULL,
    "stock" INTEGER NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial611" CHAR(1),

    CONSTRAINT "pk_variante" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "proveedor" (
    "id" BIGSERIAL NOT NULL,
    "razon_social" VARCHAR(255) NOT NULL,
    "ruc" VARCHAR(255) NOT NULL,
    "direccion" VARCHAR(255) NOT NULL,
    "telefono" VARCHAR(255) NOT NULL,
    "provincia" VARCHAR(255) NOT NULL,
    "departamento" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial615" CHAR(1),

    CONSTRAINT "pk_proveedor" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "clientes" (
    "id" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "documento" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial615" CHAR(1),

    CONSTRAINT "pk_clientes" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "compra" (
    "id" BIGSERIAL NOT NULL,
    "id_proveedor" BIGINT NOT NULL,
    "id_tipo_documento" BIGINT NOT NULL,
    "total" DECIMAL(10,2) NOT NULL,
    "fecha_compra" DATE NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial615" CHAR(1),

    CONSTRAINT "pk_compra" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ventas" (
    "id" BIGSERIAL NOT NULL,
    "id_cliente" BIGINT,
    "fecha" TIMESTAMP(6) NOT NULL,
    "total" DECIMAL(10,2) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "metodo_de_pago" VARCHAR(255),
    "trial615" CHAR(1),

    CONSTRAINT "pk_ventas" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pre_ventas" (
    "id" BIGSERIAL NOT NULL,
    "id_cliente" BIGINT,
    "total" DECIMAL(8,2) NOT NULL,
    "estado" SMALLINT NOT NULL DEFAULT 0,
    "fecha" TIMESTAMP(6) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial615" CHAR(1),

    CONSTRAINT "pk_pre_ventas" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "movimiento_caja" (
    "id" BIGSERIAL NOT NULL,
    "id_tipo_movimiento" BIGINT NOT NULL,
    "descripcion" VARCHAR(255) NOT NULL,
    "motivo" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial618" CHAR(1),

    CONSTRAINT "pk_movimiento_caja" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "detalle_compra" (
    "id" BIGSERIAL NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "id_compra" BIGINT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "precio_compra" DECIMAL(10,2) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial615" CHAR(1),

    CONSTRAINT "pk_detalle_compra" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "detalle_venta" (
    "id" BIGSERIAL NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "id_venta" BIGINT NOT NULL,
    "id_variante" BIGINT,
    "precio_unitario" DECIMAL(10,2) NOT NULL,
    "total" DECIMAL(10,2) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial615" CHAR(1),

    CONSTRAINT "pk_detalle_venta" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "detalle_pre_ventas" (
    "id" BIGSERIAL NOT NULL,
    "pre_venta_id" BIGINT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "precio_unitario" DECIMAL(8,2) NOT NULL,
    "sub_total" DECIMAL(8,2) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "producto_id" BIGINT NOT NULL,
    "talla_id" BIGINT NOT NULL,
    "color_id" BIGINT NOT NULL,
    "trial615" CHAR(1),

    CONSTRAINT "pk_detalle_pre_ventas" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cambios" (
    "id" BIGSERIAL NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "observacion" VARCHAR(255),
    "tipo" VARCHAR(7) NOT NULL,
    "fecha" DATE NOT NULL,
    "id_variante" BIGINT NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial611" CHAR(1),

    CONSTRAINT "pk_cambios" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "usuario" (
    "id" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "cargo" VARCHAR(255) NOT NULL,
    "clave" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial621" CHAR(1),

    CONSTRAINT "pk_usuario" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cache" (
    "key" VARCHAR(255) NOT NULL,
    "value" TEXT NOT NULL,
    "expiration" INTEGER NOT NULL,
    "trial608" CHAR(1),

    CONSTRAINT "pk_cache" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "cache_locks" (
    "key" VARCHAR(255) NOT NULL,
    "owner" VARCHAR(255) NOT NULL,
    "expiration" INTEGER NOT NULL,
    "trial611" CHAR(1),

    CONSTRAINT "pk_cache_locks" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "failed_jobs" (
    "id" BIGSERIAL NOT NULL,
    "uuid" VARCHAR(255) NOT NULL,
    "connection" TEXT NOT NULL,
    "queue" TEXT NOT NULL,
    "payload" TEXT NOT NULL,
    "exception" TEXT NOT NULL,
    "failed_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial618" CHAR(1),

    CONSTRAINT "pk_failed_jobs" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "job_batches" (
    "id" VARCHAR(255) NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "total_jobs" INTEGER NOT NULL,
    "pending_jobs" INTEGER NOT NULL,
    "failed_jobs" INTEGER NOT NULL,
    "failed_job_ids" TEXT NOT NULL,
    "options" TEXT,
    "cancelled_at" INTEGER,
    "created_at" INTEGER NOT NULL,
    "finished_at" INTEGER,
    "trial618" CHAR(1),

    CONSTRAINT "pk_job_batches" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "jobs" (
    "id" BIGSERIAL NOT NULL,
    "queue" VARCHAR(255) NOT NULL,
    "payload" TEXT NOT NULL,
    "attempts" SMALLINT NOT NULL,
    "reserved_at" BIGINT,
    "available_at" BIGINT NOT NULL,
    "created_at" BIGINT NOT NULL,
    "trial618" CHAR(1),

    CONSTRAINT "pk_jobs" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "migrations" (
    "id" SERIAL NOT NULL,
    "migration" VARCHAR(255) NOT NULL,
    "batch" INTEGER NOT NULL,
    "trial618" CHAR(1),

    CONSTRAINT "pk_migrations" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "password_reset_tokens" (
    "email" VARCHAR(255) NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6),
    "trial618" CHAR(1),

    CONSTRAINT "pk_password_reset_tokens" PRIMARY KEY ("email")
);

-- CreateTable
CREATE TABLE "personal_access_tokens" (
    "id" BIGSERIAL NOT NULL,
    "tokenable_type" VARCHAR(255) NOT NULL,
    "tokenable_id" BIGINT NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "token" VARCHAR(64) NOT NULL,
    "abilities" TEXT,
    "last_used_at" TIMESTAMP(6),
    "expires_at" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial618" CHAR(1),

    CONSTRAINT "pk_personal_access_tokens" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sessions" (
    "id" VARCHAR(255) NOT NULL,
    "user_id" BIGINT,
    "ip_address" VARCHAR(45),
    "user_agent" TEXT,
    "payload" TEXT NOT NULL,
    "last_activity" INTEGER NOT NULL,
    "trial621" CHAR(1),

    CONSTRAINT "pk_sessions" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tipo_doc_identidad" (
    "id" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "isactivo" SMALLINT NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial615" CHAR(1),

    CONSTRAINT "pk_tipo_doc_identidad" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tipo_pago" (
    "id" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial615" CHAR(1),

    CONSTRAINT "pk_tipo_pago" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" BIGSERIAL NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "email_verified_at" TIMESTAMP(6),
    "password" VARCHAR(255) NOT NULL,
    "remember_token" VARCHAR(100),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trial621" CHAR(1),

    CONSTRAINT "pk_users" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "clientes_documento_unique" ON "clientes"("documento");

-- CreateIndex
CREATE UNIQUE INDEX "usuario_nombre_unique" ON "usuario"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" ON "failed_jobs"("uuid");

-- CreateIndex
CREATE INDEX "jobs_queue_index" ON "jobs"("queue");

-- CreateIndex
CREATE UNIQUE INDEX "personal_access_tokens_token_unique" ON "personal_access_tokens"("token");

-- CreateIndex
CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" ON "personal_access_tokens"("tokenable_type", "tokenable_id");

-- CreateIndex
CREATE INDEX "sessions_last_activity_index" ON "sessions"("last_activity");

-- CreateIndex
CREATE INDEX "sessions_user_id_index" ON "sessions"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_unique" ON "users"("email");

-- AddForeignKey
ALTER TABLE "sub_categorias" ADD CONSTRAINT "sub_categorias_id_categorias_foreign" FOREIGN KEY ("id_categorias") REFERENCES "categorias"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "producto" ADD CONSTRAINT "producto_id_marca_foreign" FOREIGN KEY ("id_marca") REFERENCES "marcas"("id_marca") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "producto" ADD CONSTRAINT "producto_id_sub_categorias_foreign" FOREIGN KEY ("id_sub_categorias") REFERENCES "sub_categorias"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "variante" ADD CONSTRAINT "variante_id_color_foreign" FOREIGN KEY ("id_color") REFERENCES "color"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "variante" ADD CONSTRAINT "variante_id_producto_foreign" FOREIGN KEY ("id_producto") REFERENCES "producto"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "variante" ADD CONSTRAINT "variante_id_talla_foreign" FOREIGN KEY ("id_talla") REFERENCES "talla"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "compra" ADD CONSTRAINT "compra_id_proveedor_foreign" FOREIGN KEY ("id_proveedor") REFERENCES "proveedor"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "compra" ADD CONSTRAINT "compra_id_tipo_documento_foreign" FOREIGN KEY ("id_tipo_documento") REFERENCES "tipo_documento"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "ventas" ADD CONSTRAINT "ventas_id_cliente_foreign" FOREIGN KEY ("id_cliente") REFERENCES "clientes"("id") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "pre_ventas" ADD CONSTRAINT "pre_ventas_id_cliente_foreign" FOREIGN KEY ("id_cliente") REFERENCES "clientes"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "movimiento_caja" ADD CONSTRAINT "movimiento_caja_id_tipo_movimiento_foreign" FOREIGN KEY ("id_tipo_movimiento") REFERENCES "tipo_movimiento"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "detalle_compra" ADD CONSTRAINT "detalle_compra_id_compra_foreign" FOREIGN KEY ("id_compra") REFERENCES "compra"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "detalle_compra" ADD CONSTRAINT "detalle_compra_id_producto_foreign" FOREIGN KEY ("id_producto") REFERENCES "producto"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "detalle_venta" ADD CONSTRAINT "detalle_venta_id_producto_foreign" FOREIGN KEY ("id_producto") REFERENCES "producto"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "detalle_venta" ADD CONSTRAINT "detalle_venta_id_variante_foreign" FOREIGN KEY ("id_variante") REFERENCES "variante"("id") ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "detalle_venta" ADD CONSTRAINT "detalle_venta_id_venta_foreign" FOREIGN KEY ("id_venta") REFERENCES "ventas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "detalle_pre_ventas" ADD CONSTRAINT "detalle_pre_ventas_color_id_foreign" FOREIGN KEY ("color_id") REFERENCES "color"("id") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "detalle_pre_ventas" ADD CONSTRAINT "detalle_pre_ventas_pre_venta_id_foreign" FOREIGN KEY ("pre_venta_id") REFERENCES "pre_ventas"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "detalle_pre_ventas" ADD CONSTRAINT "detalle_pre_ventas_producto_id_foreign" FOREIGN KEY ("producto_id") REFERENCES "producto"("id") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "detalle_pre_ventas" ADD CONSTRAINT "detalle_pre_ventas_talla_id_foreign" FOREIGN KEY ("talla_id") REFERENCES "talla"("id") ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "cambios" ADD CONSTRAINT "cambios_id_producto_foreign" FOREIGN KEY ("id_producto") REFERENCES "producto"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE "cambios" ADD CONSTRAINT "cambios_id_variante_foreign" FOREIGN KEY ("id_variante") REFERENCES "variante"("id") ON DELETE CASCADE ON UPDATE RESTRICT;

